.header {
    max-width: 930px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-icons {
    margin-top: 10px; /* добавляем отступ сверху между контактной информацией и иконками */
    display: flex;
    gap: 10px; /* расстояние между иконками */
}

.contact-info h2 {
    margin: 0;
}

.contact-info img {
    width: 30px;
}

.header a {
    color: black; /* устанавливаем цвет текста ссылок на черный */
    text-decoration: none; /* убираем подчеркивание ссылок */
}

.address-text {
    font-weight: bold; /* делаем текст жирным */
}

.discount {
    display: block;
    margin-left: 20px;
}

/* Media Query for Phones */
@media only screen and (max-width: 600px) {
    /* Adjust header layout for phones */
    .header {
        flex-direction: column;
        align-items: center;
    }

    .working-hours {
        text-align: center;
        margin-bottom: 20px;
    }

    .logo-container-company {
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-info {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}

/* Media Query for Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjust header layout for tablets */
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .working-hours {
        margin-right: 20px;
    }

    .logo-container-company {
        margin-left: 20px;
    }
}
