/* Сброс стандартных стилей и нормализация */

@font-face {
    font-family: 'Gagalin';
    src: url('/public/fonts/Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили для body */
body {
    font-family: 'Gagalin', sans-serif;
    line-height: 1.6;
}


h1, h2, h3, h4 {
    text-align: center;
    margin: 20px;
}


.h1-container {
    text-align: center;
    padding: 20px;
    background-position: center;

}

.center-h1 {
    margin: 0;
}