/* Сброс стандартных стилей и нормализация */

@font-face {
    font-family: 'Gagalin';
    src: url('/public/fonts/Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили для body */
body {
    font-family: 'Gagalin', sans-serif;
}


h1, h2, h3, h4 {
    text-align: center;
    margin: 20px;
}


.h1-container {
    text-align: center;
    padding: 20px;
    background-position: center;

}

.center-h1 {
    margin: 0;
}

/*время ланча*/
.lunch-time1 {
    color: #ea5d5d; /* Розовый цвет для всего текста */
    font-size: 21px;
    text-align: center;
}

.time {
    color: white; /* Белый цвет для времени */
    text-shadow:
            2px 2px 0 black,
            -2px -2px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black; /* Черные края для цифр */
    font-size: 21px; /* Размер шрифта 21 пиксель */
}

.custom-hr {
    border-top: 1px solid #d3d3d3; /* Светлый цвет линии */
    margin-top: 50px; /* Отступ сверху */
    margin-bottom: 50px; /* Отступ снизу */
}

html, body {
    overflow-x: hidden;
}
