footer {
    background-color: #3b4e59;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.logo-section img {
    max-width: 100px;
    margin: 10px;
    vertical-align: middle;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copyright {
    color: white;
}

.policy {
    margin-top: 10px;
}

.policy-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.policy-link:hover {
    text-decoration: underline;
}
