.outer-container {
    width: 90%; /* Измените ширину контейнера, чтобы он занимал 90% ширины экрана */
    max-width: 1400px; /* Установите максимальную ширину, чтобы он не выходил за пределы 1400px */
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам переноситься на следующую строку */
    justify-content: center;
    margin: 20px auto; /* Убедитесь, что отступы сверху и снизу работают, а слева и справа автоцентрируют */
    gap: 20px; /* Добавляет отступы между карточками */
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100%; /* Это поможет карточке расширяться по высоте */
}

.product-title {
    font-size: 18px;
    margin: 0; /* Убираем отступы для лучшего выравнивания */
    color: #3B4E59;
}

.product-description {
    font-size: 14px;
    color: #6C8B9B;
    list-style-position: inside; /* Перемещает маркеры внутрь */
    padding-left: 15px; /* Убирает отступ слева */
    margin: 5px 0; /* Оставляем небольшой отступ для текста */
    text-align: left; /* Выравниваем текст по левому краю */
}

.product-description li {
    margin-left: 0; /* Убираем отступы для каждого элемента списка */
    padding-left: 0; /* Убираем внутренние отступы */
}

.product-price {
    font-size: 20px;
    margin: 10px 0;
    color: #3B4E59;
}

.price {
    color: #ea5d5d;
}

.currency {
    color: #3b4e59;
}

/* Адаптивные стили для телефонов */
@media (max-width: 768px) {
    .product-card {
        width: 100%; /* Карточки занимают 100% ширины контейнера на маленьких экранах */
        max-width: 300px; /* Максимальная ширина карточки */
    }

    .quantity-controls {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .quantity-btn {
        margin: 0 5px; /* Добавляем отступы между кнопками по горизонтали */
    }

    .quantity-controls > * {
        margin: 0 5px; /* Добавляем отступы между элементами */
    }

    .lunch-time1 {
        font-size: 16px; /* Увеличиваем размер шрифта для экранов больше 600px */
        margin: 15px 20px; /* Увеличиваем отступы для больших экранов */
    }

    .time {
        font-size: 16px;
        font-weight: normal; /* Обычное начертание времени на больших экранах */
    }
}

@keyframes eatBroccoli {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
    }
}


