.menu-wrapper {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.menu-container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: #3b4e59;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item2:hover {
    transform: rotate(5deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.menu-item2 img {
    width: 64px;
    height: 64px;
}

.menu-item22 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.sushi-title-container {
    margin-top: 20px;
}

.sushi-title {
    font-size: 24px;
    font-weight: bold;
    color: #ea5d5d;
}

.quantity-bubble {
    position: absolute;
    top: -12px;
    left: -12px;
    background-color: #ea5d5d;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    transform: rotate(-25deg);
}

.menu-container2 a {
    position: relative;
}
