/* Подключение шрифта OpenSauceTwo */
@font-face {
    font-family: 'OpenSauceTwo';
    src: url('/public/fonts/OpenSauceTwo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Применение шрифта OpenSauceTwo к тексту внутри .product-card */
.product-card {
    font-family: 'OpenSauceTwo', sans-serif; /* Применяем шрифт к тексту внутри .product-card */
}

/* Заголовки внутри .product-card остаются с шрифтом Gagalin */
.product-card h1,
.product-card h2,
.product-card h3,
.product-card h4 {
    font-family: 'Gagalin', sans-serif; /* Используем шрифт Gagalin для заголовков */
}

.product-card {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1100px; /* Уменьшаем максимальную ширину карточки */
    margin: 20px auto; /* Увеличенный отступ для центрирования и разделения карточек */
}

.product-info {
    padding: 20px;
    flex: 1;
    text-align: center; /* Центрируем весь текст внутри div */
}

.product-images {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
}

.product-images.product-images-right {
    border-left: none; /* Убираем линию слева */
    border-right: 1px solid #ddd; /* Добавляем линию справа для второй карточки */
}

.main-image {
    padding: 20px;
    text-align: center;
}

.main-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.thumbnails {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.thumbnails img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnails img:hover {
    border: 2px solid rgb(234, 93, 93);
}

.price {
    text-align: center; /* Центрируем текст */
    border: 2px solid #000; /* Толщина, стиль и цвет рамки */
    border-radius: 10px; /* Закругленные углы */
    padding: 10px; /* Внутренний отступ, чтобы текст не прилегал к краям рамки */
}


.description {
    font-size: 0.9rem;
    color: #666;
    padding: 10px 0; /* Добавляем внутренние отступы только сверху и снизу */
    text-align: center; /* Центрируем текст */
}

.product-info ul {
    padding-left: 0; /* Убираем отступ слева для списка */
    list-style-type: none; /* Убираем маркеры списка */
    text-align: center; /* Центрируем текст */
}

.message-text {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
}

.phone-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 6px;
    color: rgb(234, 93, 93); /* Цвет WhatsApp */
    background-color: #FFFFFF;
    border: 1px solid rgb(234, 93, 93);
    transition: background-color 0.3s, color 0.3s;
}

.phone-button:hover {
    background-color: rgb(234, 93, 93);
    color: #FFFFFF;
}

.phone-button {
    color: rgb(234, 93, 93); /* Цвет телефона */
    border-color: rgb(234, 93, 93);
}

.phone-button:hover {
    background-color: rgb(234, 93, 93);
    color: #FFFFFF;
}


.highlight {
    color: #ea5d5d;
}

@media screen and (max-width: 768px) {
    .product-card {
        flex-direction: column;
        margin: 10px;
    }

    .product-images {
        border-left: none;
        border-bottom: 1px solid #ddd; /* Добавляем линию снизу на мобильных устройствах */
    }

    .product-images.product-images-right {
        border-right: none; /* Убираем линию слева */
    }

    .product-info {
        padding: 20px;
    }

    .main-image {
        order: 1; /* Перемещаем изображение вверх на мобильных устройствах */
    }

    .product-info {
        order: 2; /* Перемещаем информацию вниз на мобильных устройствах */
    }

    /* Новые стили для мелких экранов */
    .lunch-time1 {
        font-size: 18px; /* Уменьшаем размер шрифта для мелких экранов */
        text-align: center; /* Центрируем текст */
        margin: 0 10px; /* Добавляем отступы по краям */
    }

    .time {
        font-size: 18px; /* Уменьшаем размер шрифта для мелких экранов */
    }
}