/* Заголовки внутри .product-card остаются с шрифтом Gagalin */
.product-card h1,
.product-card h2,
.product-card h3,
.product-card h4 {
    font-family: 'Gagalin', sans-serif; /* Используем шрифт Gagalin для заголовков */
    color: #3b4e59; /* Новый цвет для заголовков */
}

/* Подключение шрифта OpenSauceTwo */
@font-face {
    font-family: 'OpenSauceTwo';
    src: url('/public/fonts/OpenSauceTwo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Применение шрифта OpenSauceTwo к тексту внутри .product-card */
.product-card {
    font-family: 'OpenSauceTwo', sans-serif;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(59, 78, 89);
    max-width: 1100px;
    margin: 20px auto;
}

.product-info {
    padding: 20px;
    flex: 1;
    text-align: center;
}

.product-images {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
}

.product-images.product-images-right {
    border-left: none;
    border-right: 1px solid #ddd;
}

.main-image {
    padding: 0; /* Удаление отступов вокруг основного изображения */
    text-align: center;
}

.main-image img {
    width: 100%;
    height: 100%; /* Принудительно заполняем контейнер */
    object-fit: cover; /* Сохраняем пропорции и заполняем контейнер */
}


.price {
    text-align: center;
    border: 2px solid #3b4e59; /* Цвет рамки */
    border-radius: 10px;
    padding: 10px;
    color: #ea5d5d; /* Цвет текста цены — розовый */
}

.currency {
    color: #3b4e59; /* Цвет валюты — серый */
}

.description {
    font-size: 0.9rem;
    color: #6C8B9B; /* Описание текста — светло-синий */
    padding: 10px 0;
    text-align: center;
}

.product-info ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    color: #6C8B9B; /* Цвет для списка */
}

p {
    color: #3b4e59; /* Цвет для текста абзаца */
}

.message-text {
    font-size: 18px;
    margin: 10px 0;
    color: #6c8b9b; /* Основной цвет текста */
}

.phone-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 6px;
    color: rgb(234, 93, 93); /* Цвет текста кнопки */
    background-color: #FFFFFF;
    border: 1px solid rgb(234, 93, 93); /* Цвет бордера кнопки */
    transition: background-color 0.3s, color 0.3s;
}

.phone-button:hover {
    background-color: rgb(234, 93, 93);
    color: #FFFFFF;
}

.highlight {
    color: #ea5d5d; /* Подсветка розовым цветом */
}

/* Адаптивные стили */
@media screen and (max-width: 768px) {
    .product-card {
        flex-direction: column;
        margin: 10px;
    }

    .product-images {
        border-left: none;
        border-bottom: 1px solid #ddd;
    }

    .product-images.product-images-right {
        border-right: none;
    }

    .lunch-time1 {
        font-size: 18px;
        text-align: center;
        margin: 0 10px;
    }

    .time {
        font-size: 18px;
    }
}
